
.myHeader{
	background-color: #34495e;
}

.buttonSearch{
	width: 150px;
	color: #FFFFFF;
	border-radius: 0px;
	background-color: #34495e; 
}

.buttonSearch:hover{
	color: #FFFFFF;
}

input[type="date"]{
	width: 150px;
	font-weight: 500;
	cursor: pointer;
	border: solid 1px #34495e;
	text-align: center;
	color: #34495e;
}

.goBack{
	font-size: 20px;
	margin-right: 10px;
	cursor: pointer;
}

.logoutButton{
	width: 100px;
	outline: 0;
	border: none;
	background-color: #34495e;
}